[package]
name = "coreos-installer"
repository = "https://github.com/coreos/coreos-installer"
license = "Apache-2.0"
edition = "2018"
exclude = ["/.cci.jenkinsfile", "/.github", "/.gitignore", "/.travis.yml", "/Dockerfile"]
authors = [ "Benjamin Gilbert <bgilbert@redhat.com>" ]
description = "Installer for Fedora CoreOS and RHEL CoreOS"
version = "0.4.1-alpha.0"

[package.metadata.release]
sign-commit = true
disable-push = true
disable-publish = true
pre-release-commit-message = "cargo: coreos-installer release {{version}}"
post-release-commit-message = "cargo: development version bump"
tag-message = "coreos-installer v{{version}}"

[features]
# rdcore is only useful inside the initrd of a CoreOS system
rdcore = []

[lib]
name = "libcoreinst"
path = "src/lib.rs"

[[bin]]
name = "coreos-installer"
path = "src/main.rs"

[[bin]]
name = "rdcore"
path = "src/bin/rdcore/main.rs"
required-features = ["rdcore"]

[profile.release]
lto = true

[dependencies]
bincode = "^1.3"
byte-unit = ">= 3.1.0, < 5.0.0"
clap = "^2.33"
cpio = "^0.2"
error-chain = { version = "^0.12", default-features = false }
flate2 = "^1.0"
glob = "^0.3"
gptman = { version = "^0.6", default-features = false }
hex = "^0.4"
libc = "^0.2"
nix = ">= 0.17, < 0.19"
openssl = "^0.10"
pipe = "^0.3"
regex = "^1.3"
reqwest = { version = "^0.10", features = ["blocking"] }
serde = { version = "^1.0", features = ["derive"] }
serde_json = "^1.0"
tempfile = "^3.1"
url = "^2.1"
uuid = { version = "^0.8", features = ["v4"] }
walkdir = "^2.3"
xz2 = "^0.1"

[dev-dependencies]
maplit = "^1.0"
