[Unit]
Description=CoreOS Installer Target
OnFailure=emergency.target
OnFailureJobMode=isolate
AllowIsolate=yes

Requires=coreos-installer.service

# run after most things are up
Requires=basic.target
After=basic.target

# we rely on dracut to set up the network
Requires=dracut-cmdline.service dracut-pre-trigger.service dracut-initqueue.service
After=dracut-cmdline.service dracut-pre-trigger.service dracut-initqueue.service
