[Unit]
Description=CoreOS Installer
After=coreos-installer.target
OnFailure=emergency.target
OnFailureJobMode=isolate

[Service]
Type=simple
ExecStart=/usr/libexec/coreos-installer
# Perform reboot after install unless asked not to.
ExecStop=/bin/sh -c 'test -f /tmp/skip_reboot || sleep 5 && reboot'
#StandardInput=tty-force
StandardInput=tty
StandardOutput=kmsg+console
#TTYPath=/dev/console
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes
#TTYVTDisallocate=yes

[Install]
WantedBy=default.target
