[Unit]
Description=CoreOS Installer Target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
AllowIsolate=yes

Requires=coreos-installer.service
Requires=coreos-installer-reboot.service
Requires=coreos-installer-noreboot.service

# Run after most things are up
Requires=basic.target
After=basic.target
