[Unit]
Description=CoreOS Installer
Before=coreos-installer.target
After=network-online.target
Wants=network-online.target
ConditionKernelCommandLine=coreos.inst.install_dev

[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-installer-service
StandardOutput=kmsg+console
StandardError=kmsg+console
