[Unit]
Description=Reboot after CoreOS Installer
Requires=coreos-installer.target
After=coreos-installer.target
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly
ConditionPathExists=/run/coreos-installer-reboot

[Service]
Type=simple
ExecStart=/usr/bin/systemctl --no-block reboot
StandardOutput=kmsg+console
StandardError=kmsg+console
