[Unit]
Description=CoreOS Installer
Before=coreos-installer.target
Wants=network-online.target
ConditionKernelCommandLine=coreos.inst.install_dev

[Service]
Type=simple
ExecStart=/usr/libexec/coreos-installer-service
StandardOutput=kmsg+console
