[Unit]
Description=CoreOS Installer
Before=coreos-installer.target
After=NetworkManager.service
Wants=NetworkManager.service
ConditionDirectoryNotEmpty=|/etc/coreos/installer.d
ConditionKernelCommandLine=|coreos.inst.install_dev
OnFailure=emergency.target
OnFailureJobMode=replace-irreversibly

[Service]
Type=oneshot
ExecStart=/usr/libexec/coreos-installer-service
StandardOutput=kmsg+console
StandardError=kmsg+console
