[Unit]
Description=CoreOs Installer
After=dracut-initqueue.service
#After=getty@tty2.service

[Service]
Type=oneshot
ExecStart=/usr/bin/coreos-installer.sh
StandardInput=tty
TTYPath=/dev/tty2
TTYReset=yes
TTYVHangup=yes

[Install]
WantedBy=default.target
